<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My programs</title>
</head>
<body>
<h1>My Programs</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Instructor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="program : ${programs}">
        <td th:text="${program.title}"></td>
        <td th:text="${program.description}"></td>
        <td th:text="${program.instructor.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>