<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
<div id="logo">
    <img src="/img/logo-fitnessapp.png" alt="logo"/>
</div>
<h1>Welcome to your new favorite Fitness App!</h1>
<div id="homepage-buttons">
    <a href="/login">
        <button>Login</button>
    </a>
    <a href="/register">
        <button>Register</button>
    </a>
</div>
<div id="homepage-img">
    <img src="/img/homepage-img.png" alt="homepage image"/>
</div>
</body>
</html>