<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Panel</title>
</head>
<body>
<a th:href="@{/programs/{instructorId}/addProgram(instructorId=${instructorId})}">
    <button>Add a program</button>
</a>
<a th:href="@{/logout}">
    <button>Logout</button>
</a>
<h1>Current Programs</h1>

<div th:each="program : ${programs}">
    <h2 th:text="${program.title}"></h2>
    <p th:text="${program.description}"></p>

    <h3>Enrolled Clients:</h3>
    <ul>
        <li th:each="client : ${program.clients}">
            <span th:text="${client.name}"></span>
            <a th:href="@{/programs/client-info/{clientId}(clientId=${client.id})}">
                <button>View Client</button>
            </a>
        </li>
    </ul>
</div>

</body>
</html>
