<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Programs</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/programs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div id="logo">
        <img src="/img/logo-fitnessapp.png" alt="logo"/>
    </div>
    <div id="menu">
        <a th:if="${clientId != null}" th:href="@{/programs/client-programs/{clientId}(clientId=${clientId})}">
            <button class="menu-buttons">My Programs</button>
        </a>
        <a th:href="@{/logout}">
            <button class="menu-buttons">Logout</button>
        </a>
    </div>
</nav>
<div id="main">
    <h1>Fitness Programs</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="program : ${programs}">
            <td th:text="${program.title}"></td>
            <td th:text="${program.description}"></td>
            <td th:text="${program.instructor.name}"></td>
            <td>
                <form th:action="@{/programs/enroll}" method="post" id="form-modified">
                    <input type="hidden" name="clientId" th:value="${clientId}" />
                    <input type="hidden" name="programId" th:value="${program.id}" />
                    <button type="submit">Apply</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>