<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Programs</title>
</head>
<body>
<a th:if="${clientId != null}" th:href="@{/programs/client-programs/{clientId}(clientId=${clientId})}">
    <button>My Programs</button>
</a>

<a th:href="@{/logout}">
    <button>Logout</button>
</a>
<h1>Fitness Programs</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Instructor</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="program : ${programs}">
        <td th:text="${program.title}"></td>
        <td th:text="${program.description}"></td>
        <td th:text="${program.instructor.name}"></td>
        <td>
            <form th:action="@{/programs/enroll}" method="post">
                <input type="hidden" name="clientId" th:value="${clientId}" />
                <input type="hidden" name="programId" th:value="${program.id}" />
                <button type="submit">Apply</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>